In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [13]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [14]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid={'criterion':['mae','mse','friedman_mse'],'max_features':['auto','sqrt', 'log2'],'splitter':['best','random']}
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)            
grid.fit(X_train,Y_train)

C:\Users\Windows\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    4.7s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:    4.8s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeRegressor(criterion='mse', max_depth=None,
                                             max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort=False, random_state=None,
                                             splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mae', 'mse', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [15]:
re=grid.cv_results_
grid_predictions=grid.predict(X_test)
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'splitter': 'best'}: 0.6182695565076071

In [16]:
table=pd.DataFrame.from_dict(re)

In [17]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.038050,0.003255,0.001776,0.002512,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.640712,0.636161,0.673130,0.650001,0.016460,4
1,0.032080,0.004006,0.000332,0.000470,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.563638,0.682869,0.640786,0.629098,0.049372,10
2,0.027254,0.006912,0.002457,0.001952,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.462265,0.674115,0.651846,0.596075,0.095054,13
3,0.022160,0.002232,0.003734,0.002953,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.602480,0.348668,0.558013,0.503054,0.110666,18
4,0.020185,0.003662,0.003475,0.002457,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.685028,0.651818,0.655944,0.664264,0.014779,2
5,0.015303,0.002661,0.007752,0.007118,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.576836,0.623762,0.532193,0.577597,0.037386,14
6,0.006672,0.004749,0.005126,0.003629,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.543216,0.703767,0.646111,0.631031,0.066406,9
7,0.005519,0.000312,0.004493,0.003481,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.624144,0.710735,0.630965,0.655281,0.039310,3
8,0.007088,0.002329,0.006493,0.002123,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.566531,0.616364,0.694118,0.625671,0.052501,11
9,0.006595,0.001668,0.011603,0.008334,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.613611,0.333195,0.617268,0.521358,0.133060,17
10,0.009777,0.003626,0.007758,0.005216,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.637599,0.585018,0.697903,0.640173,0.046121,6
11,0.005779,0.000458,0.004867,0.000971,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.543372,0.459621,0.597718,0.533570,0.056802,16
12,0.010365,0.005876,0.005519,0.000677,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.571072,0.718575,0.618397,0.636015,0.061493,8
13,0.006604,0.001486,0.003160,0.001601,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.610838,0.640202,0.675015,0.642019,0.026232,5
14,0.006228,0.000639,0.005909,0.001335,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.596571,0.668871,0.739941,0.668461,0.058531,1
15,0.004613,0.000496,0.002054,0.000844,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.586206,0.516459,0.544866,0.549177,0.028637,15
16,0.004748,0.001716,0.002040,0.001813,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.620848,0.653637,0.642608,0.639031,0.013623,7
17,0.002904,0.000648,0.001553,0.001223,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.632467,0.631317,0.564587,0.609457,0.031731,12

Future_Prediction=grid.predict([[age_input,bmi_input,childern_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

In [18]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
childern_input=float(input("Childern:"))
sex_male_input=float(input("Sex Male 0 or 1 :"))
smoker_yes_input=float(input("Smoker Yes 0 or 1 :"))

Age:35
BMI:26
Childern:8
Sex Male 0 or 1 :1
Smoker Yes 0 or 1 :1

In [19]:
Future_Prediction=grid.predict([[age_input,bmi_input,childern_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[49577.6624]